# Classification of land use and land cover by time series analysis

In [7]:
input_data.tb <- read_file("./data/ts_coupled_samples/samples_amazonia_sentinel-2.rda", "rda")
head(dplyr::select(input_data.tb, -time_series), 5)

  longitude latitude   start_date end_date   label         cube
1 -64.69448  -9.986312 2018-07-12 2019-07-28 Deforestation sentinel-077095
2 -64.62979  -9.996668 2018-07-12 2019-07-28 Deforestation sentinel-077095
3 -64.52163  -9.979772 2018-07-12 2019-07-28 Deforestation sentinel-077095
4 -64.52049 -10.003682 2018-07-12 2019-07-28 Deforestation sentinel-077095
5 -64.70766 -10.061506 2018-07-12 2019-07-28 Deforestation sentinel-077095

In [8]:
set.seed(42)
data.tb <- input_data.tb
rows <- sample(nrow(data.tb))
diamonds <- data.tb[rows, ]
data.tb <- diamonds

In [9]:
group <- dplyr::group_by(data.tb, label)
agregation <- dplyr::summarise(group, n = n(), .groups = "drop_last")
mutation <- dplyr::mutate(agregation, percent = n/sum(n))
mutation <- data.frame(mutation)
mutation

  label         n   percent
1 Deforestation 157 0.1306156
2 Forest        414 0.3444260
3 NatNonForest  171 0.1422629
4 Pasture       460 0.3826955